<div fxLayout="column" fxLayoutAlign="center stretch">
	<span class="mat-display-2">Hello, Lemonite!</span>
  <button mat-raised-button color="primary">Login</button>
</div>
<div style="margin: 50px;"></div>
<div fxLayout="row" fxLayoutAlign="space-between center">
  <span class="mat-display-2" style="margin: 0;">Hello, Lemonite!</span>
  <button mat-raised-button color="primary">Login</button>
</div>

<div fxLayout="row" fxLayoutAlign="space-between end">
  <span class="mat-display-2" fxflex style="margin: 0;">Hello, Lemonite!</span>
  <button mat-raised-button fxflex color="primary">Login</button>
</div>


<div fxLayout="row" class="box-main" fxLayoutAlign="space-between stretch">

 <div fxFlex="50" class="box-one">
   This is box one
 </div>

 <div fxFlex="50" class="box-two">
   BOX TWO
 </div>

</div>